<form [formGroup]="activityForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="fill">
    <mat-label>Nazwa Przedmiotu</mat-label>
    <input
      type="text"
      matInput
      formControlName="subjectName"
      [matAutocomplete]="autoSubject"
      required
    />
    <mat-autocomplete #autoSubject="matAutocomplete">
      <mat-option *ngFor="let subject of subjects" [value]="subject">
        {{ subject }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Główny Nauczyciel</mat-label>
    <input
      type="text"
      matInput
      formControlName="mainTeacher"
      [matAutocomplete]="autoTeacher"
      required
    />
    <mat-autocomplete #autoTeacher="matAutocomplete">
      <mat-option *ngFor="let teacher of teachers" [value]="teacher">
        {{ teacher }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Format</mat-label>
    <input
      type="text"
      matInput
      formControlName="format"
      [matAutocomplete]="autoFormat"
      required
    />
    <mat-autocomplete #autoFormat="matAutocomplete">
      <mat-option *ngFor="let format of formats" [value]="format">
        {{ format }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Typ</mat-label>
    <input
      type="text"
      matInput
      formControlName="type"
      [matAutocomplete]="autoType"
      required
    />
    <mat-autocomplete #autoType="matAutocomplete">
      <mat-option *ngFor="let type of types" [value]="type">
        {{ type }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
